/* src/style/customerLayout.css */
body {
    margin: 0px;
    padding: 0px;
    background-color: #1b203d;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: system-ui;
}

.clearfix {
    clear: both;
}

.logo {
    margin: 0px;
    margin-left: 28px;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
    font-size: 30px;
}

.logo span {
    color: #f7403b;
}

.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #272c4a;
    overflow: hidden;
    transition: 0.5s;
    padding-top: 30px;
}

.sidenav a {
    padding: 15px 8px 15px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
    background-color: #1b203d;
}

.icon-a {
    width: 100%;
    display: block;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    margin-left: 300px;
    height: 100vh;
    color: white;
    background-color: #1b203d;
    margin-top: auto;
    flex: 1;
}

.head {
    padding: 20px;
}

.col-div-6 {
    width: 50%;
    float: left;
}

.profile {
    display: inline-block;
    float: right;
    width: 160px;
}

.pro-img {
    float: left;
    width: 40px;
    margin-top: 5px;
    border-radius: 20%;
}

.profile p {
    color: white;
    font-weight: 500;
    margin-left: 55px;
    margin-top: 10px;
    font-size: 13.5px;
}

.profile p span {
    font-weight: 400;
    font-size: 12px;
    display: block;
    color: #8e8e8e;
}

.nav {
    display: none;
}

.col-div-3 {
    width: calc(100% - 60px); /* odejmujemy marginesy z obu stron */
    float: left;
    margin: 0 30px; /* marginesy po bokach */
    background-color: #272c4a; /* dowolny kolor, który chcesz ustawić */
    padding-left: 20px;
    color: white;

}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #272c4a;
    color: white;
    text-align: center;
    padding: 5px 0;
}

.box {
    display: flex;
    flex-direction: column;
    /*align-items: stretch;*/
}

.col-md-4 {
    padding: 1em;
    box-sizing: border-box;
}

.fixed-height {
    height: 270px;
    overflow-y: auto;
    background-color: #272c4a;
    color: white;
}

h5 {
    color: white;
}

.language-box {
    position: fixed;
    top: 0;
    left: 75%;
    right: 0;
    background-color: #272c4a;
    padding: 10px 20px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    color: white;
    text-decoration: none;
    flex-direction: row;
}

.close-btn {
    background-color: black; /* Zmiana tła na czarne */
    border: none;
    padding: 5px 8px;
    cursor: pointer;
    color: white; /* Ustawienie koloru tekstu/ikony na biały */
}

.close-btn:hover {
    background-color: #555; /* Ciemniejsze tło podczas najechania */
}

.language-box a {
    text-decoration: none; /* Usuwa podkreślenie z linków */
    color: white; /* Kolor linków - możesz dostosować do swoich potrzeb */
    padding-left: 50px;
    padding-right: 50px;
}

.language-content {
    flex: 1; /* pozwala na rozciągnięcie zawartości w poziomie */
    display: flex;
    flex-direction: column;
    align-items: center; /* centruje zawartość w poziomie */
    justify-content: center; /* centruje zawartość w pionie */
}

.language-links {
    margin-top: 5px; /* dodaje odstęp między tekstem a linkami */
}

.container {}

.col-md-mt-5-custom {
    margin-top: 0 !important; /* Usuwa margines górny */
}

button,
input {
    margin-top: 10px;
    margin-bottom: 10px;
}

.sidenav .custom-icon {
    width: 25px;
    height: 20px;
    display: inline-block;
    text-align: center;
    line-height: 20px; /* Vertical align the icon */
}

.sidenav .fa {
    font-size: 20px; /* Adjust the font size as needed */
}

.accordion .accordion-item {
    background-color: #272c4a;
    border: none;
    margin-bottom: 10px; /* Dodanie marginesu dolnego */
}

.accordion .accordion-header {
    background-color: #272c4a;
    color: white;
}

.accordion .accordion-body {
    background-color: #1b203d;
    color: white;
}

.accordion .accordion-button {
    background-color: #272c4a;
    color: white;
    border: none;
    outline: none;
    box-shadow: none;
}

.accordion .accordion-button:not(.collapsed) {
    background-color: #1b203d;
    color: white;
}

.accordion .accordion-button::after {
    filter: invert(1);
}

.header-list {
    margin-bottom: 20px; /* Dodanie marginesu dolnego */
    margin-top: 20px; /* Dodanie marginesu górnego */
}

.box {
    margin-bottom: 20px;
    border-bottom: #1b203d 5px solid/* Dodanie marginesu dolnego dla box */
}
.text-end {
    text-decoration: none;
}
#pagination {
    display: flex;
    justify-content: center;
    background: #1b203d;
}
.pagination-btn {
    background-color: #1b203d;
    border: 1px solid white;
    color: white;
}

.pagination-btn-active {
    background-color: #f1f1f1;
    border: 1px solid white;
    color: black;
}